.crasher__message-holder {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: -1;
}

.talk__message-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 5px 10px;
}

.talk__message-container__text {
  background-color: #93dce4;
  border-radius: 6px;
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); */
  color: #ffffff;
  max-width: 77%;
  padding: 6px 10px;
  text-align: left;
  word-break: break-all;
}

.talk__message-container__avatar-holder {
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); */
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.talk__message-container__avatar {
  height: 100%;
}

.talk__message-container-right {
  align-self: flex-end;
  justify-content: flex-end;
}

.talk__message-container-left {
  align-self: flex-start;
  justify-content: flex-start;
}

.talk__message-container__text-left {
  background-color: #ffffff;
  border: 0.5px solid #383838;
  color: #6d6d6d;
}
