.header {
  align-content: center;
  background-color: #ffffff;
  border-bottom: #e4e4e4 solid 0.5px;
  color: #4a4a4a;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.timer__header {
  align-content: center;
  background-color: #448c80;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header h3 {
  font-weight: lighter;
  margin: 10px;
  margin-left: 20px;
  text-align: left;
}

.under-header {
  margin-top: 60px;
}

.header__btn-holder {
  align-items: center;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  position: fixed;
  right: 10px;
  margin: 12px;
}

.header__btn {
  width: 25px;
}
